$background:#743d3d;
$background-faded:#613333;
$main:#523333;
$main-faded:#6a3a3a;
$sec:#b09231;
$blk-main:#2c2b2c;
$blk-sec:#0b0a0f;
$d-red:#491414;
$d-green:#1a4914;

.wd{
    &-1{width: 10%;}
    &-2{width: 20%;}
    &-3{width: 30%;}
    &-4{width: 40%;}
    &-5{width: 50%;}
    &-6{width: 60%;}
    &-7{width: 70%;}
    &-8{width: 80%;}
    &-9{width: 90%;}
    &-10{width: 100%;}
}

.main-screen{
    &__main{
        background-color: $background;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
    &__optionBar-cont{
        height: 100%;
        float:left;
    }
    &__gameArea{
        height: 100%;
        float: left;
        position: relative;
        width: 55vw;
    }
}

.option-bar{
    &__cont{
        height: 90%;
        float:left;
        width: 25vw;        
    }
    &__main{
        background-color: $main;
        height: 100%;
        max-width: 200px;
        width:100%;
        float:right;     
        overflow: visible;
        padding: 5px;
    }

    &__locationName{
        color:white;
        background-color: $background-faded;
        padding: 2px;
        width:105%;
        border-bottom: 2px solid $main-faded;
        border-left: 2px solid $main-faded;
        transform: translateX(5px);
    }

    button{
        background-clip: $main-faded;
    }
}

.mini-map__main{
    background-color: $blk-main;
    border-bottom: 5px solid darken($main-faded, 10);
    border-left: 5px solid darken($main-faded, 10);
    
    width:20vw;
    height:20vw;
    min-width: 100px;
    min-height: 100px;
    max-width: 190px;
    max-height: 190px;

    overflow: visible;
    canvas {
        width: 100%;
        height: 100%;
    }
    
}

.character-bar{
    &__cont{
        height: 90%;
        float:right;
        width: 20vw;        
    }
    &__main{
        background-color: $main;
        height: 100%;
        max-width: 200px;
        width:100%;        
    }
    button{
        background-clip: $main-faded;
    }
}

.game-world{
    &__main{
        color: whitesmoke;
        padding:15px;
        height: 70%;
        overflow: scroll;
        scroll-behavior: smooth;
    }
}

.action-bar
{
    &__main{
        background-color: $background;
        height: 30%;
        width: 100%;
        //transform: translateY(30%);
        overflow: scroll;
        scrollbar-base-color: $blk-main;
        .parser{
            width: 90%;
            margin: 0% 1%;
            &-submit{
                width: 7%;
                margin-right: 1%;
            }
        }
    }

    &__row{
        position: relative;
        height: 70%;
        button {
            float: left;
            // position: relative;
            // top:1%;
            // left:0.5%;
            background-color: $sec;
            border-radius: 15px;
            border:none;
            width: 10vw;
            height: 5vh;
            font-size: smaller;
            max-height: 50px;
            margin:0.5%;
            font-weight: bold;
            text-align: center;
        }

        button.btn-disabled {
            background-color: $main-faded;
        }
    }
}




.control-box{
    &__main{
        background-color: grey;
        position: absolute;
        bottom: 0;
        right: 0;
        height: 100px;
        width: 100px;
    }

    &__btn-n{
        height: 20px;
        width: 20px;
        padding:0;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    &__btn-e{
        height: 20px;
        width: 20px;
        padding:0;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
    &__btn-s{
        height: 20px;
        width: 20px;
        padding:0;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    &__btn-w{
        height: 20px;
        width: 20px;
        padding:0;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
}
